name: Run All Checks
on:
  push:
    branches: [master]
  pull_request:
jobs:
  check-lua:
    name: Run Checks
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Install Nix
        uses: cachix/install-nix-action@v27
        with:
          nix_path: nixpkgs=channel:nixos-unstable
      - name: Run all checks
        run: nix develop .#ci --command just check
